Checks: "
        -*,
        clang-analyzer-*,
        modernize-*,
        -modernize-use-trailing-return-type,
        -modernize-avoid-c-arrays,
        -modernize-use-ranges,
        -modernize-loop-convert,
        bugprone-*,
        -bugprone-narrowing-conversions,
        -bugprone-implicit-widening-of-multiplication-result,
        -bugprone-easily-swappable-parameters,
        misc-unconventional-assign-operator,
        misc-unused-parameters
        "